.loan-input-txt {
  color: #f6931f;
  font-weight: bold;
}
.left-limit-div {
  float:left;
  font-family: icon;
  font-size: 11px;
}
.right-limit-div {
  float:right;
  font-family: icon;
  font-size: 11px;
}
.div-row {
  clear:both;
  text-align: center;
}
.div-cell {
  width:19.6%;
  height:20px;
  float: left;
  border:1px solid black;
}
.div-cell-head {
  width:19.6%;
  height:20px;
  float: left;
  border:1px solid black;
  font-size: 14px;
  font-style: oblique;
  font-family: Georgia;
}
.loan-calc-table {
    width: 100%;
    border:1px solid white;
	float:right;
}